:root {
    --header-height: 8vh;
    --bg-color: #F9FAFB;
    --text-color: #111827;
    --accent-color: #FFB347
    --cta-color: #0EA5E9;
    --detail-color: #355C7D;
}

.roboto-font {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.gothic-font {
  font-family: "Special Gothic Expanded One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body {
    margin: 0 0;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;

    color: var(--text-color);
}

main {
    height: 100vh;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
    overflow-x: hidden;
    overflow-y: scroll;
    perspective: 1px;

}

#parallax-background {
    transform: translateZ(-5px) scale(15); 
    background-color: #DFDBE5;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%239C92AC' fill-opacity='0.2'%3E%3Cpath opacity='.5' d='M96 95h4v1h-4v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9zm-1 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9z'/%3E%3Cpath d='M6 5V0H5v5H0v1h5v94h1V6h94V5H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    position: absolute;
    height: 100vh;
    width: 100%;
    z-index: -1;
}

section {
    scroll-snap-align: start;
    display: flex;
    position: relative;
    width: 90vw;
    height: 100vh;
    padding: 0 5vw;

    overflow-x: hidden;

}

/* header start */


header {
    display: flex;
    background-color: rgba(0, 0, 0, 0);
    height: var(--header-height);
    width: 96vw;
    position: fixed;

    justify-content: space-between;
    align-items: center;
    
    padding: 0 2vw; /* vertical padding, horizontal padding */

    z-index: 10;

    top: 0;
    right: 0;
    left: 0;
}

header h1 {
    display: none;
}

nav {
    display: flex;
    width: 90vw;

    height: 100%;

    margin: 0 auto;
    justify-content: space-between;
}


nav a {
    display: flex;
    height: 100%;
    width: 30vw;

    align-items: center;
    justify-content: center;

    text-decoration: none;
    color: var(--text-color);

    transition: background-color 0.2s;
    transition-timing-function: ease-in-out;
}


 nav a:hover {
    background-color: rgb(0, 0, 0, 0.25);
}

/* header end */


/* hero section start */

#hero {
    display: flex;
    position: relative;
    width: 100vw;
    height: 100vh;

    right: 0;
    left: 0;

    align-items: center;

}

#hero div {
    margin: auto 0;
    height: fit-content;
    align-items: center;
}
#hero h2 {
    font-size: 30px;
    margin: 0 0;
}
#hero h1 {
    font-size: 45px;
    margin: 0 0;
}

/* hero section end */


/* about me section */

#about-me {
    display: block;
}

#about-me h1 {
    margin-top: var(--header-height); 
    margin: 0, 0;
    text-align: center;
}

#profile-picture {
    display: block;
    width: 150px;
    height: 150px;
    margin: auto auto;
    border-radius: 100px;
    border: 2px solid rgba(0, 0, 0, 0.45);
}

#about-me p {
    margin: 0, 0;
    text-align: center;
}

/* about me section end */

/* project section */

#projects {
    display: block;
}

#projects h1 {
    margin-top: var(--header-height);
}
/* project section end */

/* contact-me section */

#contact-me {
    display: block;
}

#contact-me h1 {
    margin-top: var(--header-height);
}

/* contact-me section end */
